/* ==========================================================================
   Add your colors here
   ========================================================================== */

$brandcolor: #BADA55;
$linkcolor: #CCC;
$background: #FFF;