/* ===========================================
 * Site colors
 * =========================================== */

/* Brand colors
 * ==================================== */

$color-brand-main: #e3e3e3;

/* Base colors
 * ==================================== */

$color-white: #ffffff;
$color-black: #222222;

/* Text colors
 * ==================================== */

$color-text: #f22b11;
$color-link: #ffffff;

/* Button colors
 * ==================================== */

$color-button-primary: #f22b11;
$color-button-primary-hover: darken($color-button-primary, 5%);

/* Third party brand colors
 * ==================================== */

$color-facebook: #03539e;
$color-twitter: #35ccff;
$color-linkedin: #217bc1;
