/* ===========================================
 * Grid system from Jeet.gs, version 5.3.0
 *
 * Usage:
 *
 *  section
 *    +center
 *  aside
 *    +col(1 / 3)
 *  article
 *    +col(2 / 3)
 *
 *  More info on http://jeet.gs/   
 * =========================================== */

/* Settings
 * ==================================== */

$jeet-gutter: 3 !default;
$jeet-parent-first: false !default;
$jeet-layout-direction: "LTR" !default;
$jeet-max-width: 1410px !default;

/* Functions
 * ==================================== */

@function jeet-get-span($ratio: 1) {
  @return $ratio * 100;
}

@function jeet-get-column($ratios: 1, $gutter: $jeet-gutter) {
  $ratios: if(not $jeet-parent-first, jeet-reverse($ratios), $ratios);
  $width: 100;
  @each $ratio in $ratios {
    $gutter: $gutter / $width * 100;
    $width: 100 * $ratio - $gutter + $ratio * $gutter;
  }
  @return $width $gutter;
}

@function jeet-get-layout-direction() {
  $direction: if($jeet-layout-direction == "RTL", right, left);
  @return $direction;
}

@function jeet-replace-nth($list, $index, $value) {
  @if function-exists("set-nth") != true {
    $result: ();
    $index: if($index < 0, length($list) + $index + 1, $index);
    @for $i from 1 through length($list) {
      $result: append($result, if($i == $index, $value, nth($list, $i)));
    }
    @return $result;
  }
  $result: set-nth($list, $index, $value);
  @return $result;
}

@function jeet-reverse($list) {
  @if function-exists("set-nth") != true {
    $result: ();
    @for $i from length($list) * -1 through -1 {
      $result: append($result, nth($list, abs($i)));
    }
    @return $result;
  }
  @for $i from 1 through floor(length($list) / 2) + 1 {
    $tmp: nth($list, $i);
    $list: set-nth($list, $i, nth($list, -$i));
    $list: set-nth($list, -$i, $tmp);
  }
  @return $list;
}

@function jeet-opposite-direction($direction) {
  @if $direction == "left" {
    @return right;
  }
  @else if $direction == "right" {
    @return left;
  }
  @else if $direction == "top" {
    @return bottom;
  }
  @else if $direction == "bottom" {
    @return top;
  }
  @else if index("ltr" "LTR", $direction) {
    @return rtl;
  }
  @else if index("rtl" "RTL", $direction) {
    @return ltr;
  }
  @else {
    @warn "`#{$direction}` is not a direction; please make sure your direction is all lowercase.";
    @return false;
  }
}

/* Grid system
 * ==================================== */

@mixin column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter) {
  $side: jeet-get-layout-direction();
  $opposite-side: jeet-opposite-direction($side);
  $column-widths: jeet-get-column($ratios, $gutter);
  $margin-last: 0;
  $margin-l: $margin-last;
  $margin-r: nth($column-widths, 2);
  @if $offset != 0 {
    @if $offset < 0 {
      $offset: $offset * -1;
      $offset: nth(jeet-get-column($offset, nth($column-widths, 2)), 1);
      $margin-last: $offset + nth($column-widths, 2) * 2;
      $margin-r: $margin-last;
    }
    @else {
      $offset: nth(jeet-get-column($offset, nth($column-widths, 2)), 1);
      $margin-l: $offset + nth($column-widths, 2);
    }
  }
  @include cf;
  display: inline;
  clear: none;
  text-align: inherit;
  float: $side;
  width: nth($column-widths, 1) * 1%;
  padding: {
    left: 0;
    right: 0;
  };
  margin: {
    #{$side}: $margin-l * 1%;
    #{$opposite-side}: $margin-r * 1%;
  };
  @if $uncycle != 0 {
    &:nth-child(#{$uncycle}n) {
      margin-#{jeet-opposite-direction($side)}: $margin-r * 1%;
      float: $side;
    }
    &:nth-child(#{$uncycle}n + 1) {
      clear: none;
    }
  }
  @if $cycle != 0 {
    &:nth-child(#{$cycle}n) {
      margin-#{jeet-opposite-direction($side)}: $margin-last * 1%;
      float: jeet-opposite-direction($side);
    }
    &:nth-child(#{$cycle}n + 1) {
      clear: both;
    }
  }
  @else {
    &:last-child {
      margin-#{jeet-opposite-direction($side)}: $margin-last * 1%;
    }
  }
}

@mixin col($args...) {
  @include column($args...);
}

@mixin span($ratio: 1, $offset: 0) {
  $side: jeet-get-layout-direction();
  $opposite-side: jeet-opposite-direction($side);
  $span-width: jeet-get-span($ratio);
  $margin-r: 0;
  $margin-l: $margin-r;
  @if $offset != 0 {
    @if $offset < 0 {
      $offset: $offset * -1;
      $margin-r: jeet-get-span($offset);
    }
    @else {
      $margin-l: jeet-get-span($offset);
    }
  }
  @include cf;
  float: $side;
  clear: none;
  text-align: inherit;
  width: $span-width * 1%;
  padding: {
    left: 0;
    right: 0;
  };
  margin: {
    #{$side}: $margin-l * 1%;
    #{$opposite-side}: $margin-r * 1%;
  };
}

@mixin shift($ratios: 0, $col-or-span: column, $gutter: $jeet-gutter) {
  $translate: "";
  $side: jeet-get-layout-direction();
  @if $side == right {
    $ratios: jeet-replace-nth($ratios, 0, nth($ratios, 1) * -1);
  }
  @if index("column" "col" "c", $col-or-span) {
    $column-widths: jeet-get-column($ratios, $gutter);
    $translate: nth($column-widths, 1) + nth($column-widths, 2);
  }
  @else {
    $translate: jeet-get-span($ratios);
  }
  position: relative;
  left: $translate * 1%;
}

@mixin unshift {
  position: static;
  left: 0;
}

@mixin edit {
  * {
    background: rgba(0, 0, 0, 0.05);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#10000000, endColorstr=#10000000);
  }
}

@mixin debug {
  @include edit;
}

@mixin center($max-width: $jeet-max-width, $pad: 0) {
  @include cf;
  width: auto;
  max-width: $max-width;
  float: none;
  display: block;
  margin: {
    left: auto;
    right: auto;
  };
  padding: {
    left: $pad;
    right: $pad;
  };
}

@mixin uncenter {
  max-width: none;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

@mixin stack($pad: 0, $align: false) {
  $side: jeet-get-layout-direction();
  $opposite-side: jeet-opposite-direction($side);
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin: {
    left: auto;
    right: auto;
  };
  &:first-child {
    margin-#{$side}: auto;
  }
  &:last-child {
    margin-#{$opposite-side}: auto;
  }
  @if $pad != 0 {
    padding: {
      left: $pad;
      right: $pad;
    };
  }
  @if $align is not false {
    @if index("center" "c", $align) {
      text-align: center;
    }
    @else if index("left" "l", $align) {
      text-align: left;
    }
    @else if index("right" "r", $align) {
      text-align: right;
    }
  }
}

@mixin unstack {
  $side: jeet-get-layout-direction();
  $opposite-side: jeet-opposite-direction($side);
  text-align: $side;
  display: inline;
  clear: none;
  width: auto;
  margin: {
    left: 0;
    right: 0;
  };
  &:first-child {
    margin-#{$side}: 0;
  }
  &:last-child {
    margin-#{jeet-opposite-direction($side)}: 0;
  }
  @if $jeet-layout-direction == RTL {
    text-align: right;
  }
  @else {
    text-align: left;
  }
}

@mixin align($direction: both) {
  position: absolute;
  transform-style: preserve-3d;
  @if index("horizontal" "h", $direction) {
    transform: translateX(-50%);
    left: 50%;
  }
  @else if index("vertical" "v", $direction) {
    transform: translateY(-50%);
    top: 50%;
  }
  @else {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

@mixin cf {
  *zoom: 1;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
