/* ===========================================
 * Button styling
 * =========================================== */

.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}