/* ===========================================
   Button styling
   =========================================== */

.button
  display: inline-block
  vertical-align: middle
  text-align: center
  cursor: pointer

.button-primary
  background: $color-button-primary
  color: $color-button-primary-text
  transition: background $transition-short
  &:hover
    background: $color-button-primary-hover