/* ====================================
   Variables
   ==================================== */

/* 
   Spacing and widths
   ==================================== */

$site-width: 1400px
$base-spacing: 1em
$block-padding: 3em